/* CSS Variables */
:root {
    --primary-color: #ffd31d;
    --primary-color-hover: #d1a700;
    --secondary-color: #844685;
    --secondary-color-hover: #10375c;
    --light-color: #faf4ff;
}

body {
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: 150px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "cabecalho"
        "principal"
}

.cabecalho { /* Aqui não é nome da classe CSS e sim da propriedade grid-area */
    grid-area: cabecalho; /* incluindo o nome a propriedade */
    background-color: var(--primary-color);
    color: white;
    display: flex; /* Essa propriedade coloca todos os elementos na mesma linha */
    flex-direction: row; /* Direciona os elementos, nesse caso no eixo da coluna */
    justify-content: space-between; /* Aplica o alinhamento em cima do eixo principal idenpendente se é coluna ou linha*/
    align-items: center; /* Aplica o alinhamento em cima do eixo que corta idenpendente se é coluna ou linha*/
    padding-bottom: 10px;
    z-index: 1; /* Da um certo destaque */
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75); /* cssmatic.com */
}

.img-logo {
    margin-top: 10px;
    margin-left: 12px;
}

.logo-text > p{
    color: black;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 20px;
    text-align: center;
    font-family: 'Varela', sans-serif;
}

.nav-items {
    margin-right: calc(100vw - 1420px);
}

.options {
    display: inline-block;
    margin-top: 15px;
    justify-content: space-between;
}

.icons-navbar:hover {
    background-color: var(--primary-color-hover);
    border-radius: 10px;
}

.icons-navbar {
    transition-duration: 1s;
}

.slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -320px;
}    

.mySlides {
    margin-top: -180px;
    width: 100%;
}

.w3-content, .w3-section {
    max-width: 1200px;
    max-height: 1000px;
}

.left-arrow {
    margin-left: 15px;
}

.right-arrow {
    margin-left: -45px;
}

.left-arrow, .right-arrow {
    margin-top: -500px;
}

.intro {
    padding: 50px 100px 100px 50px;
    margin-top: -60px;
    z-index: 1;
    text-align: center;
    background-color: var(--secondary-color);
    color: white;
    height: 750px;
}

.intro > h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 50px;
    font-family: 'Work Sans', sans-serif;
}

.intro > p {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 50px;
    font-family: 'Varela', sans-serif;
}

.e-commerce {
    position: relative;
    margin-top: -80px;
    z-index: 1;
    text-align: center;
    background-color: white;
    color: black;
    height: 900px;
}

.buy-options {
    margin-top: -80px;
    z-index: 1;
    text-align: center;
    background-color:var(--secondary-color-hover);
    height: 605px;
}

.buy-style {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    font-family: 'Work Sans', sans-serif;
}

.varejo, .atacado, .atacarejo {
    position: relative;
    height: 500px;
    width: 400px;
    background-color: var(--primary-color); 
    border-radius: 5%;  
    z-index: 1;
    box-shadow: 14px 14px 3px -7px rgba(7,31,53,1);
}

.varejo {
    display: block;
    justify-content: space-between;
}

.atacarejo-icon {
    margin-bottom: 10px;
}

.varejo-icon, .atacado-icon, .atacarejo-icon {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(0%);
}

.varejo > h2, .atacado > h2, .atacarejo > h2 {
    color: var(--secondary-color-hover);
    font-size: 48px;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
    border-bottom: 4px solid var(--secondary-color-hover);
}

.varejo > p, .atacado > p, .atacarejo > p {
    color: var(--secondary-color-hover);
    font-size: 20px;
    font-weight: 700;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Varela', sans-serif;
}

.container {
    max-width: 1180px;
    text-align: center;
    margin: 0 auto;
    padding: 0 3rem;
    display: flex;
    justify-content: end;
    align-content: end;
}

.rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    height: 200px;
} 

.img-store {
    margin-left: 300px;
}

.dados {
    text-align: right;
    display: inline-block;
    flex-direction: column;
    padding-top: 10px;
    padding-right: 40px;
}

.dados > h4 {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Varela', sans-serif;
    border-bottom: 1px solid #000;
    width: 435px;
}

.dados > p {
    font-weight: 600;
}

.footer-bottom {
    background: var(--secondary-color);
    padding: 1rem;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.footer-bottom > span {
    color: white;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
    margin-left: 20px;
    margin-top: 13px;
}

.footer-bottom > img {
    width: 60px;
    height: 40px;
}


/* Smartphone
@media screen and (max-width: 400px) {
    .cabecalho {
        margin-bottom: 50px;
        width: 100%;
    }

    .logo {
        display: block;
        margin-top: 13px;
    }

    .img-logo {
        width: 165px;
        height: 27px;
        margin-left: 17px;
    }

    .logo-text > p{
        font-size: 10px;
        text-align: left;
    }

    .nav-items {
        margin-top: 10px;
    }

    .icons-navbar {
        width: 30px;
        height: 30px;
    }

    .cf > li {
        display:inline-block;
    }

    .cf > li:nth-child(4) {
        margin-left: 16px;
    }

    .w3-right, .w3-left {
        display: none;
    }

    .w3-content, .w3-section {
        padding-top: 20px;
        width: 90vw;
    }

    .img-carosel {
        width: 100vw;
    }

    .intro {
        max-width: 100%;
        height: auto;
    }

    .intro > p {
        font-size: 18px;
        font-weight: 200;
    }

    .intro > img {
        max-width: 100%;
        height: auto;
    }

    .img-e-commerce {
        max-width: 100%;
        height: auto;
    }

    .img-e-commerce > img {
        max-width: 100%;
        height: auto;
    }

    .buy-options {
        width: 100vw;
        height: 1250px;
    }

    .buy-style {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        padding: 50px;
    }

    .varejo, .atacado, .atacarejo {
        height: 350px;
        width: 400px;  
        border-radius: 5%;
        margin-bottom: 50px;
    }

    .varejo > h2, .atacado > h2, .atacarejo > h2 {
        font-size: 28px;
        font-weight: 700;
    }
    
    .varejo > p, .atacado > p, .atacarejo > p {
        font-size: 14px;
        font-weight: 700;
        padding-left: 30px;
        padding-right: 30px;
    }

    .dados {
        padding: 20px;
        text-align: left;
    }

    .img-store {
        display: none;
    }
}*/

@media screen and (max-width: 375px) {
    .img-carosel > img {
        width: 100%;
        margin-left: 50px;
        padding-top: 40px;
        margin-top: 30px;
    }
    
}    

@media screen and (max-width: 550px) {
    .cf > li {
        display:inline-block;
    }

    .cf > li:nth-child(4) {
        margin-left: 16px;
    }

    .icons-navbar {
        width: 30px;
        height: 30px;
    }

    .img-carosel {
        width: 100%;
        margin-left: 50px;
        margin-top: 20px;
    }

    .w3-content, .w3-section {
        padding-top: 20px;
        width: 100%;
    }
}   

@media screen and (max-width: 780px) {
    .icons-navbar {
        width: 30px;
        height: 30px;
    }

    .cabecalho {
        margin-bottom: 50px;
        width: 100%;
        height: 120px;
    }

    .img-carosel {
        width: 100%;
        margin-left: 50px;
        margin-top: 20px;
    }

    .w3-content, .w3-section {
        padding-top: 20px;
        width: 100%;
    }

}   

@media screen and (max-width: 1395px) {
    .nav-items {
        margin-top: 10px;
        margin-right: 80px
    }

} 

/* Tablet */
@media screen and (max-width: 1299px) {
    .cabecalho {
        margin-bottom: 50px;
        width: 100%;
        height: 120px;
    }

    .logo {
        display: block;
        margin-top: 13px;
    }

    .img-logo {
        width: 165px;
        height: 27px;
        margin-left: 17px;
    }

    .logo-text > p{
        font-size: 10px;
        text-align: left;
    }

    .nav-items {
        margin-top: 10px;
        margin-right: 80px
    }

    .w3-right, .w3-left {
        display: none;
    }

    .img-carosel {
        width: 100%;
        margin-left: 50px;
        margin-top: 20px;
    }

    .w3-content, .w3-section {
        padding-top: 20px;
        width: 100%;
    }

    .img-carosel {
        width: 100vw;
    }

    .intro {
        max-width: 100%;
        height: auto;
    }

    .intro > p {
        font-size: 18px;
        font-weight: 200;
    }

    .intro > img {
        max-width: 100%;
        height: auto;
    }

    .intro > img, .intro > p {
        margin-left: 50px;
    }

    .e-commerce {
        max-width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: center;
    }

    .img-e-commerce > img {
        max-width: 90%;
        height: auto;
        padding-bottom: 100px;
        padding-right: 70px;
        margin-left: 80px;
    }

    .buy-options {
        width: 100%;
        height: 1250px;
    }

    .buy-style {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: center;
    }

    .varejo, .atacado, .atacarejo {
        height: 350px;
        width: 400px;  
        border-radius: 5%;
        margin-bottom: 50px;
        margin-left: 20px;
    }

    .varejo > h2, .atacado > h2, .atacarejo > h2 {
        font-size: 28px;
        font-weight: 700;
    }
    
    .varejo > p, .atacado > p, .atacarejo > p {
        font-size: 14px;
        font-weight: 700;
        padding-left: 30px;
        padding-right: 30px;
    }

    .dados {
        padding: 20px;
        text-align: left;
    }

    .img-store {
        display: none;
    }
}